.secao-esquerda {
    background-color: gray;
    flex-basis: 30%;
    min-height: 100vh;
}

.sessao-direita {
    flex-basis: 70%;
}

section p {
    font-size: small;
}

#titulo hr {
    opacity: 0.5;
}

img {
    width: 200px;
    height: 200px;
}
