.background-screen {
    background: darkslategray;
    min-height: 100vh;
}

.title-section {
    max-width: 100vh;
    min-height: 100px;
    background-color: white;
}

.left-side {
    background-color: rgb(37, 33, 33);
    padding: 40px;
    flex-basis: 40%;
}

h5 {
    color: hsl(162, 99%, 28%);
    font-weight: bold;
}

.right-side {
    background-color: white;
    /* padding: 40px; */
    flex-basis: 60%;
}

#title h4 {
    color: hsla(162, 100%, 40%, 0.537);
    font-weight: bold;
}

#title h3 {
    color: hsl(162, 100%, 40%);
    font-weight: bold;
}

#contact-info i {
    color: hsla(162, 100%, 40%, 0.537);
}

#education h6 {
    color: hsla(162, 98%, 24%, 0.781);
    font-weight: bold;
}

#hard-skills img {
    width: 80px;
    height: 80px;
    filter: grayscale(100%);
}

section p {
    font-size: small;
}

#titulo hr {
    opacity: 0.5;
}

img {
    width: 200px;
    height: 200px;
}

.progress-bar {
    background-color: hsla(162, 100%, 40%, 0.66) !important;
}

.fa-2xl {
    font-size: 4em;
}
