.main {
    background: #1c1c1c;
    .curriculum {
        max-width: 1000px;
        min-height: 1000px;
        box-shadow: 0 35px 55px rgba(94, 94, 94, 0.9);
        .left-side {
            background-color: #2d2c2a;
            flex-basis: 30%;

            .progress {
                background-color: rgb(56, 50, 50);
            }
            .progress-bar {
                background-color: #fee39a !important;
            }

            #title {
                h4 {
                    color: #fee39aa1;
                    font-weight: bold;
                }
                h3 {
                    color: #fdca40;
                    font-weight: bold;
                }
                hr {
                    opacity: 0.5;
                }
                img {
                    box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.9);
                }
                a {
                    cursor: pointer;
                }
            }

            #profile {
                text-align: justify;
            }

            #social-midias {
                a {
                    color: inherit;
                }
            }

            #education {
                h6 {
                    color: #fee39ad0;
                    font-weight: bold;
                }
            }
        }
        .right-side {
            background-color: white;
            flex-basis: 70%;

            h3 {
                font-weight: bold;
            }

            .progress {
                background-color: rgba(56, 50, 50, 0.111);
            }

            .progress-bar {
                background-color: #f79824 !important;
            }

            #experience {
                text-align: justify;

                h5 {
                    color: #f22b29;
                }

                .year-company {
                    h6 {
                        color: #f4442e;
                    }
                }

                #engineer-jr {
                    width: 70.7%;
                }

                #stag {
                    width: 79%;
                }
            }

            #hard-skills {
                img {
                    width: 40px;
                    height: 40px;
                    filter: grayscale(100%);
                }
            }

            #certifications {
                .certificate {
                    .certificate-itens {
                        width: 201px;
                        text-align: center;

                        img {
                            max-width: 100%;
                        }
                    }
                    img {
                        width: 200px;
                        height: 100px;
                        cursor: pointer;
                        border: 1px solid;
                    }
                }
            }

            #hobbies {
                fa-icon {
                    color: #1c1c1c;
                    font-size: xx-large;
                }

                .hobbies {
                    justify-content: space-around;

                    p {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                    }
                }
            }
        }
    }

    h5 {
        color: #f79824;
        font-weight: bold;
    }

    i,
    fa-icon {
        color: #fee39a;
    }

    img {
        width: 200px;
        height: 200px;
    }

    section {
        p,
        a {
            font-size: 15px;
        }
    }
}

#status-message {
    display: none;
}
@media (max-width: 800px) {
    .main {
        .curriculum {
            margin: 3% !important;
            flex-direction: column;

            .left-side {
                .download {
                    display: none;
                }
                section {
                    margin: 0px !important;
                }
            }

            .right-side {
                #experience {
                    .responsive-screen {
                        flex-direction: column;
                    }

                    .fw-bolder {
                        margin: 0px;
                    }
                }

                #hobbies {
                    .hobbies {
                        p {
                            font-size: smaller;
                        }
                    }
                }
            }
        }

        section {
            p {
                font-size: larger;
            }
        }
    }
}

@media (max-width: 562px) {
    .main {
        .curriculum {
            .right-side {
                #certifications {
                    .certificate {
                        justify-content: center;
                    }
                }
            }
        }
        section {
            p {
                font-size: large;
            }
        }
    }
}
