.background-screen {
    background: darkslategray;
    min-height: 100vh;
}

.title-section {
    max-width: 1000px;
    min-height: 1000px;
    background-color: white;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.9);
}

.left-side {
    background-color: rgb(37, 33, 33);
    padding: 20px;
}

.right-side {
    background-color: white;
}

h5 {
    color: hsl(162, 99%, 28%);
    font-weight: bold;
}

#title h4 {
    color: hsla(162, 100%, 40%, 0.537);
    font-weight: bold;
}

#title h3 {
    color: hsl(162, 100%, 40%);
    font-weight: bold;
}

#contact-info i {
    color: hsla(162, 100%, 40%, 0.537);
}

#education h6 {
    color: hsla(162, 98%, 24%, 0.781);
    font-weight: bold;
}

#hard-skills img {
    width: 40px;
    height: 40px;
    filter: grayscale(100%);
}

#titulo hr {
    opacity: 0.5;
}

#certifications button {
    background-image: url(../../assets/imgs/ts.png); //colocar print do certificado
    background-size: cover;
    width: 9rem;
    height: 6rem;
}

img {
    width: 200px;
    height: 200px;
}

section p {
    font-size: small;
}

.progress-bar {
    background-color: hsla(162, 100%, 40%, 0.66) !important;
}

.fa-2xl {
    font-size: 4em;
}

.year-company h6 {
    color: hsla(162, 100%, 40%, 0.841);
}

#engineer-jr {
    width: 58%;
}
